{% extends 'base.html' %}

{% block content %}
  <div class="container mt-4">
    <!-- Header Section -->
    <div class="d-flex justify-content-between align-items-center border-bottom pb-2 mb-4">
      <h1 class="text-end">تفاصيل {{ model_verbose_name }}</h1>
    </div>

    <!-- Flash Messages -->
    {% if messages %}
      <div class="alert-container">
        {% for message in messages %}
          <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <!-- Apartment Information Section -->
    <div class="card shadow border-1 mb-4">
      <div class="card-body">
        <h5 class="card-title mb-4 text-primary">معلومات {{ model_verbose_name }}</h5>
        <div class="row mb-3">
          {% for field_name, field_value in fields %}
            <div class="col-md-6 mb-2">
              <p><strong>{{ field_name }}:</strong> <span class="text-muted">{{ field_value }}</span></p>
            </div>
          {% endfor %}
        </div>
        <div class="d-flex justify-content-end">
          <a href="{% url model_name|lower|add:'_update' object.pk %}" class="btn btn-warning btn-sm mx-1">تعديل</a>
          <a href="{% url model_name|lower|add:'_delete' object.pk %}" class="btn btn-danger btn-sm mx-1">حذف</a>
        </div>
      </div>
    </div>

    <!-- Active Tenant Detail Section -->
    <div class="card shadow border-1 mb-4">
      <div class="card-body">
        <h5 class="card-title mb-4 text-primary">معلومات المستاجر الحالي</h5>
        {% if object.active_tenant %}
        <div class="row mb-3">
          <p class="col-md-6 my-2"><strong>اسم المستأجر:</strong> <span class="text-muted">{{ object.active_tenant.tenant.name }}</span></p>
          <p class="col-md-6 my-2"><strong>رقم الهاتف:</strong> <span class="text-muted">{{ object.active_tenant.tenant.phone_number }}</span></p>
          <p class="col-md-6 my-2"><strong>رقم العقد:</strong> <span class="text-muted">{{ object.active_tenant.contract_number }}</span></p>
          <p class="col-md-6 my-2"><strong>مبلغ الإيجار:</strong> <span class="text-muted">{{ object.active_tenant.rent_amount }}</span></p>
          <p class="col-md-6 my-2"><strong>تاريخ بداية العقد:</strong> <span class="text-muted">{{ object.active_tenant.contract_start_date }}</span></p>
          <p class="col-md-6 my-2"><strong>تاريخ انتهاء العقد:</strong> <span class="text-muted">{{ object.active_tenant.contract_end_date }}</span></p>
        </div>
        {% else %}
        <p class="text-muted">الشقة شاغرة حاليًا.</p>
        {% endif %}
        <div class="d-flex justify-content-end">
          {% if object.active_tenant %} 
           <form method="post">
            {% csrf_token %}
            <button type="submit" name="set_vacant" class="btn btn-danger mx-1">تعيين الشقة كشاغرة</button>
          </form>
          <a href="{% url 'active_tenant_update' object.pk object.active_tenant.pk %}" class="btn btn-info text-white mx-1">تعديل بيانات العقد</a>
          {% else %}
          <a href="{% url 'active_tenant_create' object.pk %}" class="btn btn-primary mx-1">مستاجر جديد</a>
          {% endif %}
        </div>
      </div>
    </div>
    

    <!-- Rental History Section -->
    <div class="card shadow border-1 mb-4">
      <div class="card-body">
        <h5 class="card-title mb-4 text-primary">سجل الإيجار</h5>
        <div class="row mb-3">
          {% if object.rental_history.all %}
          <ul class="list-group px-2">
            {% for rental in object.rental_history.all %}
            <li class="list-group-item border-bottom p-2">
              <p class="m-0">
                <strong>العقد: {{ rental.contract_number }} </strong> - 
                تم تاجير الشقة ل<strong>{{ rental.tenant.name }}</strong> 
                من <strong>{{ rental.contract_start_date }}</strong> 
                إلى <strong>{{ rental.contract_end_date }}</strong> بمبلغ: 
                <strong>{{ rental.rent_amount }}</strong> 
                {% if rental.notes %}  
                <br> <small class="text-muted"><strong>ملاحظات:</strong> {{ rental.notes }}</small>
                {% endif %}
              </p>
            </li>
            {% endfor %}
          </ul>
          {% else %}
            <p class="text-muted">لا يوجد سجل إيجار لهذه الشقة.</p>
          {% endif %}
        </div>
      </div>
    </div>

    <!-- Go Back Button -->
    <div class="text-center my-4">
      <a href="{% url model_name|lower|add:'_list' %}" class="btn btn-outline-secondary mx-2">
        <i class="bi bi-arrow-left"></i> العودة إلى قائمة الشقق
      </a>
      <a href="{% url 'active_tenant_list' %}" class="btn btn-outline-secondary">
        <i class="bi bi-arrow-left"></i> العودة إلى قائمة الايجارات
      </a>
    </div>
  </div>
{% endblock %}
  