{% extends 'base.html' %}

{% block extra_css %}
<style>
    #id_import_file {
        padding: 0;
        border-radius: 0;
    }
</style>
{% endblock extra_css %}

{% block title %} لوحة التحكم | الشقق {% endblock %}
{% block content %}
<div class="container my-3">
    <!-- Page Title -->
    <div class="row mb-4">
        <div class="col-12">
            <div class="bg-primary text-white p-4 rounded-3">
                <h1 class="display-4 fw-bold">الشقق</h1>
            </div>
        </div>
    </div>

    <!-- Add & Exports Buttons -->
    <div class="d-flex justify-content-end align-items-center border-bottom pb-3 mb-2 gap-2">
        <a href="?export=1&format=pdf{% for key, value in request.GET.items %}{% if key != 'export' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" 
           class="btn btn-outline-danger shadow-sm">
            <i class="fas fa-file-pdf"></i> تصدير PDF
        </a>
        <a href="?export=1{% for key, value in request.GET.items %}{% if key != 'export' %}&{{ key }}={{ value }}{% endif %}{% endfor %}" 
           class="btn btn-outline-success shadow-sm">
            <i class="fas fa-file-excel"></i> تصدير Excel
        </a>
        <a href="{% url 'apartment_create' %}" class="btn btn-primary shadow-sm">
            <i class="fas fa-plus-circle"></i> إضافة شقة
        </a>
    </div>

    <!-- Excel File Upload Form -->
    {% if request.user.is_superuser %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="d-flex justify-content-between align-items-center mb-2 gap-2">
            <div class="mt-2" style="min-width: 70%;">
                <label for="{{ import_form.import_file.id_for_label }}" class="form-label">{{ import_form.import_file.label_tag }}</label>
                {{ import_form.import_file }}
            </div>
            <button type="submit" class="btn btn-outline-primary">رفع ملف Excel</button>
        </div>
    </form>
    {% endif %} 

    <!-- Success & Error Messages -->
    {% if messages %}
    <div class="alert-container">
      {% for message in messages %}
        <div class="alert {% if message.tags == 'success' %}alert-success{% elif message.tags == 'error' %}alert-danger{% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
    {% endif %}
      
    
    <!-- Filter Section -->
    <form method="get" class="mb-4 filter-form">
        <div class="row g-4">
            <div class="col-md-4">{{ filter_form.building }}</div>
            <div class="col-md-4">{{ filter_form.apartment }}</div>
            <div class="col-md-4">{{ filter_form.search }}</div>
            <div class="col-md-6">{{ filter_form.status }}</div>
            <div class="col-md-6 text-start">
                <a href="{% url 'apartment_list' %}" class="btn btn-outline-secondary mx-2">إلغاء التصفية</a>
                <button type="submit" class="btn btn-primary"><i class="fas fa-filter"></i> تصفية</button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-12">
            <div class="card shadow-sm" style="overflow-x: auto; max-width: 100%;">
                <div class="card-body">
                    <table id="apartmentsTable" class="table table-responsive table-striped table-hover">
                        <thead class="table-dark">
                            <tr>
                                <th>رقم الشقة</th>
                                <th>رقم العمارة</th>
                                <th>رقم الطابق</th>
                                <th>عدد الغرف</th>
                                <th>عداد الكهرباء</th>
                                <th>عداد الماء</th>
                                <th>الحالة</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for apartment in apartments %}
                            <tr>
                                <td>{{ apartment.apartment_number }}</td>
                                <td>{{ apartment.building }}</td>
                                <td>{{ apartment.floor_number }}</td>
                                <td>{{ apartment.num_of_rooms }}</td>
                                <td>{{ apartment.water_meter_number }}</td>
                                <td>{{ apartment.electricity_meter_number}}</td>
                                <td>{{ apartment.status }}</td>
                                <td>
                                {% if apartment.active_tenant %} 
                                    <form method="post" onsubmit="return confirm('هل أنت متأكد من أنك تريد إخلاء الشقة {{apartment}}؟');">
                                       {% csrf_token %}
                                       <button type="submit" name="set_vacant" class="btn btn-danger mx-1">إخلاء الشقة</button>
                                    </form>
                                {% else %} 
                                    <a href="{% url 'active_tenant_create' apartment.pk %}" class="btn btn-primary mx-1">تأجير الشقة</a>
                                {% endif %} 
                                </td>
                                <td>
                                    <a href="{% url 'apartment_detail' apartment.pk %}" class="btn btn-outline-info btn-sm">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a href="{% url 'apartment_update' apartment.pk %}" class="btn btn-outline-warning btn-sm">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a href="{% url 'apartment_delete' apartment.pk %}" class="btn btn-outline-danger btn-sm">
                                        <i class="fas fa-trash-alt"></i>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<!-- DataTables -->
<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function() {
        $('#apartmentsTable').DataTable({
            "paging": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "lengthMenu": [25, 50, 100],
            "language": {
                "search": "🔍 البحث:",
                "lengthMenu": "عرض _MENU_ سجل لكل صفحة",
                "info": "عرض من _START_ إلى _END_ من أصل _TOTAL_ ",
                "paginate": {
                    "next": "التالي",
                    "previous": "السابق"
                },
                "emptyTable": "لا توجد بيانات متاحة",
                "zeroRecords": "لم يتم العثور على سجلات مطابقة",
                "infoEmpty": "",
                "infoFiltered": "(تم التصفية من إجمالي _MAX_ سجلات)"
            },
        });
    });
</script>
{% endblock %}
