{% extends 'base.html' %}

{% block content %}
<div class="container my-3">

  {% if messages %}
    <div class="alert-container">
      {% for message in messages %}
        <div class="alert 
          {% if message.tags == 'success' %}alert-success
          {% elif message.tags == 'error' %}alert-danger
          {% endif %} fade show" role="alert">
          {{ message }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  <div class="card shadow-lg">
    <div class="card-header {% if object %}bg-primary{% else %}bg-success{% endif %} text-white text-end">
      <h3 class="mb-0">{% if object %}تعديل العمارة {{object}}{% else %}إضافة عمارة{% endif %}</h3>
    </div>

    <div class="card-body">
      <form method="post" class="custom-form">
        {% csrf_token %}
        
        <div class="mb-3">
          {{ form.as_p }}
        </div>

        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-success px-4">حفظ</button>
          <a href="{% url 'apartment_list' %}" class="btn btn-secondary mx-2">إلغاء</a>
        </div>
      </form>
    </div>
  </div>

</div>
{% endblock %}
